* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  font-size: 62.5%;
}
/* navbar */

.navbar {
  height: 6.0rem;
  background-color: #131921;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
}
.navbar img {
  width: 9.7rem;
}
.border {
  border: .1rem solid transparent;
  border-radius: .2rem;
}
.border:hover {
  border: .1rem solid #fff;
}
.border2 {
  border: .1rem solid transparent;
  border-radius: .2rem;
}
.border2:hover {
  border: .1rem solid #fff;
}
.pointer {
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.0rem;
  width: 12.0rem;
  /* margin-left: -28rem; */
}
.loc-add {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 .9rem;
  height: 5.0rem;
  justify-content: center;
}
.loc-add p:first-child {
  margin-left: 1.7rem;
  font-size: 1.2rem;
  color: #ccc;
}
.loc-add p:last-child {
  font-size: 1.3rem;
  font-weight: 700;
}
.add {
  display: flex;
}
.add p {
  color: #fff;
  font-size: 1.4rem;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar i {
  color: #000;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}
.selectBox {
  background-color: #efefef;
  height: 3.7rem;
  width: 5.0rem;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  border: none;
}
.search-bar input {
  height: 3.9rem;
  width: 40vw;
  outline-color: #f3a847;
}
.search-bar i {
  height: 3.7rem;
  padding: .9rem;
  background-color: #f3a847;
}
.flag img {
  width: 2.0rem;
  height: 1.4rem;
}
.flag {
  display: flex;
  align-items: end;
  color: #fff;
  height: 5.0rem;
  padding: 0 .9rem .9rem;
}
.flag p {
  font-size: 1.2rem;
  font-weight: 700;
}
.acc {
  color: #fff;
  height: 5.0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 .9rem;
}
.acc p:first-child {
  font-size: 1.2rem;
  /* color: #ccc; */
}
.acc p:last-child {
  font-size: 1.3rem;
  font-weight: 700;
}
.return {
  color: #fff;
  height: 5.0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 .9rem;
}
.return p:first-child {
  font-size: 1.2rem;
  /* color: #ccc; */
}
.return p:last-child {
  font-size: 1.3rem;
  font-weight: 700;
}
.cart {
  color: #fff;
  display: flex;
  height: 5.0rem;
  align-items: center;
  padding: 0 .9rem;
}
.cart p:first-child {
  color: #f3a847;
}
.cart p:last-child {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 2.0rem;
  margin-left: .4rem;
}

/*Navbar option*/

.navbar-opt {
  background-color: #232f3e;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-btn {
  display: flex;
  margin-left: .1rem;
  padding-inline: .9rem;
}
.menu-btn {
  display: flex;
}
.menu-btn i {
  font-size: 2.1rem;
}
.prime {
  display: flex;
}
.navbar-opt div {
  display: flex;
  align-items: center;
}
.navbar-opt p {
  font-size: 1.4rem;
  padding: 0 .5rem;
  height: 3.8rem;
  display: flex;
  align-items: center;
}
.options {
  width: 70%;
  /* display: flex; */
}

.logo2{
  width: 30%;
}
.logo2 img{
  width: 100%;
}

/* Main */

main {
  background: gainsboro;
  overflow-x: hidden;
}

.bg {
  background-image: url(img/bg.jpg);
  height: 60.0rem;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 97vw;
  padding-top: 25.0rem;
}

.main {
  display: flex;
  justify-content: center;
}
.container2 {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 97vw;
  padding-top: 2.0rem;
}

.box {
  height: 35.0rem;
  width: 23vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.0rem;
}

.pTop {
  width: 90%;
  height: 5.0rem;
  margin: 1.5rem;
}

.pTop p {
  font-size: 2.3rem;
  font-weight: 500;
}

.boxImg {
  width: 88%;
  height: 100%;
}

.boxImg img {
  width: 100%;
}

.boxImgs {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.boxImgs img {
  width: 50%;
  padding: .5rem;
}

.pBottom {
  width: 90%;
  padding: .10rem 0;
}

.pBottom p {
  font-size: 1.4rem;
  color: #74ced4;
}

.pBottom p:hover {
  color: #c7511f;
}

/* Todays Deals */

.leftArrow{
  background-color: #ffffff;
  width: 4.0rem;
  height: 10.0rem;
  position: absolute;
  left: 0;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0rem 1.0rem -0.3rem rgba(0,0,0,0.1);
}
.leftArrow i{
  font-size: 4.0rem;
  color: #949595;
}

.rightArrow{
  background-color: #ffffff;
  width: 4.0rem;
  height: 10.0rem;
  position: absolute;
  right: 0;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0rem 1.0rem -0.3rem rgba(0,0,0,0.1);
}
.rightArrow i{
  font-size: 4.0rem;
  color: #949595;
}

.todaysDeals {
  display: flex;
  justify-content: center;
  margin-top: 2.0rem;
}
.todaysDealsContainer {
  width: 95.5vw;
  height: 35.0rem;
  background-color: #fff;
  padding: 2.0rem;
}
.todaysDealsHeader {
  display: flex;
  align-items: center;
  height: 3.8rem;
}
.todaysDealsHeader :first-child {
  font-size: 2.0rem;
  font-weight: bold;
}
.todaysDealsHeader :last-child {
  font-size: 1.4rem;
  color: #74ced4;
  margin-left: 1.3rem;
}
.todaysDealsList{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.todaysDealsList2{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 26.0rem;
}
.todayDealsItemContainer {
  width: 20.0rem;
  margin-right: 1.0rem;
}
.imgContainer {
  background-color: #efefef;
  height: 20.0rem;
  width: 20.0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgContainer img {
  height: 100%;
  padding: 1.0rem;
}

.todaysDealsInfo {
  margin-top: .5rem;
}
.todaysDealsButtomInfo {
  display: flex;
}
.todaysDealsButtomInfo :first-child {
  font-size: 1.2rem;
  background-color: #cc0c39;
  color: #dddddd;
  font-weight: 600;
  padding: .5rem;
  border-radius: .2rem;
}
.todaysDealsButtomInfo :last-child {
  font-size: 1.2rem;
  padding: .5rem;
  color: #cc0c39;
  font-weight: 600;
}
.todaysDealsInfo :last-child {
  font-size: 1.2rem;
  margin-top: .5rem;
}

/* footer */

.backToTop {
  height: 5.0rem;
  font-size: 1.3rem;
  background-color: #314257;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.backToTop:hover {
  background-color: #485769;
}

.backToTop a {
  color: #ffffff;
  text-decoration: none;
}

.footerOption {
  background-color: #232f3e;
  height: 34.0rem;
  display: flex;
  color: #dddddd;
  justify-content: space-evenly;
  font-size: 1.4rem;
  padding: 0 5.0rem;
}
.footerOption div {
  margin-top: 4.0rem;
}
.footerOption div p {
  margin-top: 1.2rem;
}
.footerOption div p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footerOption div :first-child {
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
}

.footerOption div :first-child:hover {
  cursor: text;
  text-decoration: none;
}

.country-container {
  border-top: 0.01rem solid #dddddd;
  display: flex;
  background-color: #232f3e;
  color: #dddddd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 16.0rem;
}

.btn {
  margin-top: 2.0rem;
}

button {
  background-color: transparent;
  color: #dddddd;
  padding: 1.0rem 3.7rem;
  border-radius: .2rem;
  border: 0.02rem solid #dddddd;
  cursor: pointer;
}

.countrys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
  margin: 2.0rem;
}

.countrys p {
  margin: 0 .5rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.countrys p:hover {
  text-decoration: underline;
}

.footer-other-services {
  background-color: #131a22;
  color: #999999;
}

.other-services-content {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  gap: 10.0rem;
  padding: 2.0rem 0;
}

.content-box div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.headerP {
  color: #dddddd;
}

.footerEnd {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: #dddddd;
  padding: 3.0rem 0;
}

.footerEnd div {
  display: flex;
  gap: 1.5rem;
}

.footerEnd :last-child {
  padding-top: .3rem;
}

/* responsive code */
@media(max-width:998px){
  html{
    font-size: 55%
  }
}

@media(max-width:768px){
  html{
    font-size: 45%
  }
}